<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santander.anallytics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaAbertura">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="app csa"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout_primeira"
            android:label="@string/title_activity_layout_primeira"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout_segunda"
            android:label="@string/title_activity_layout_segunda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout_terceira"
            android:label="@string/title_activity_layout_terceira"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout_quarta"
            android:label="@string/title_activity_layout_quarta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout_portal"
            android:label="@string/title_activity_layout_portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Portal" />
        <activity android:name=".CanaisActivity" />
        <activity
            android:name=".Activity_relatorio"
            android:label="@string/title_activity_relatorio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="res.layout.Canais1Activity"
            android:label="@string/title_activity_canais1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>